[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-less"]
	path = vim/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim/.vim/bundle/vim-json"]
	path = vim/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/.vim/bundle/MatchTag"]
	path = vim/.vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "vim/.vim/writegood.vim"]
	path = vim/.vim/writegood.vim
	url = https://github.com/davidbeckingsale/writegood.vim.git
[submodule "vim/.vim/bundle/julia-vim"]
	path = vim/.vim/bundle/julia-vim
	url = git://github.com/JuliaLang/julia-vim.git
[submodule "vim/.vim/bundle/vim-jinja"]
	path = vim/.vim/bundle/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
