# vim: ft=gitconfig et sw=2 tw=2
[user]
  email = schmidmt@gmail.com
  name = Mike Schmidt
  signingkey = 0xD62B5FB304724921
[push]
  default = simple
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  cur = rev-parse --short=0 HEAD
  co = checkout
  up = remote update
  cob = checkout -b
  wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
  bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
	pushf = push --force-with-lease

[mergetool "fugitive"]
  cmd = nvim -f -c \"Gvdiff\" \"$MERGED\"
[merge]
  tool = fugitive
[rerere]
  enabled = true

[core]
  attributesfile = ~/.gitattributes_global

[filter "nbstrip_full"]
  clean = "jq --indent 1 \
            '(.cells[] | select(has(\"outputs\")) | .outputs) = []  \
            | (.cells[] | select(has(\"execution_count\")) | .execution_count) = null  \
            | .metadata = {\"language_info\": {\"name\": \"python\", \"pygments_lexer\": \"ipython3\"}} \
            | .cells[].metadata = {} \
            '"
  smudge = cat
  required = true
[commit]
  # gpgsign = true
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[rebase]
	autosquash = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = store
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
[init]
	defaultBranch = main
        # templateDir = /Users/schmidmt/.git-template
[maintenance]
	repo = /Users/schmidmt/code/redpoll/lace
