[submodule "vim/.vim/bundle/vim-colors-solarized"]
	path = vim/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/.vim/bundle/vim-less"]
	path = vim/.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule "vim/.vim/bundle/vim-json"]
	path = vim/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/.vim/bundle/MatchTag"]
	path = vim/.vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "vim/.vim/writegood.vim"]
	path = vim/.vim/writegood.vim
	url = https://github.com/davidbeckingsale/writegood.vim.git
[submodule "vim/.vim/bundle/julia-vim"]
	path = vim/.vim/bundle/julia-vim
	url = git://github.com/JuliaLang/julia-vim.git
[submodule "vim/.vim/bundle/vim-jinja"]
	path = vim/.vim/bundle/vim-jinja
	url = https://github.com/lepture/vim-jinja.git
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/.vim/bundle/nerdtree"]
	path = vim/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/bundle/vim-javascript"]
	path = vim/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/.vim/bundle/vim-jsbeautify"]
	path = vim/.vim/bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
[submodule "vim/.vim/bundle/vim-coffee-script"]
	path = vim/.vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/.vim/bundle/vim-node"]
	path = vim/.vim/bundle/vim-node
	url = https://github.com/moll/vim-node.git
[submodule "vim/.vim/bundle/tabular"]
	path = vim/.vim/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/.vim/bundle/jshint.vim"]
	path = vim/.vim/bundle/jshint.vim
	url = https://github.com/walm/jshint.vim.git
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
