snippet argparse "Stubbed version of argparse" b
# Parse Arguments
parser = argparse.ArgumentParser(description="${1:Description of Application}")
parser.add_argument('--verbose', '-v', action='count')
args = parser.parse_args()
endsnippet
